// colors

$color-1: #111433; // Haiti
$red: #3f8654; // Goblin
$color-3: #ffffff; // White
$dark-gray:	#37392E;
$light-blue: #2EC4B6;
$white:	#F3F3F3;
$red: #EF2D56;
$dark-blue:	#19647E;
$orange: #F8A260;

// fonts 

$primary-font: sans-serif;